#FastAPI
fastapi>=0.109.0
uvicorn[standard]>=0.24.0

#database
sqlalchemy[asyncio]>=2.0.25 # ORM
asyncpg>=0.29.0 # PostgreSQL async driver (Supabase)

#config
pydantic>=2.5.0
pydantic-settings>=2.1.0 # Environment config
python-dotenv>=1.0.0 # Load .env file

#security
bcrypt>=4.0.0 # Password hashing
python-jose[cryptography]>=3.3.0 # JWT implementation

#utils
python-multipart>=0.0.6 # file upload
mailtrap>=2.0.1
pgvector>=0.4.2
openpyxl>=3.1.5
opencv-python>=4.9.0
numpy>=1.24,<2.0
insightface>=0.7.3
onnxruntime>=1.18.0
